* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*navigation bar*/
h2{
    color: #fff;
}
nav{
    width: 100%;
    height: 80px;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.btn-menubar{
    font-size: 1.5rem;
    padding: 10px;
    color: white;
    background:none;
    border:none;
    cursor: pointer;
    display: none;
}
nav ul {
    display:flex;   
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    
    padding: 15px 30px;
    text-transform: uppercase;
    transition: .3s ease;
}
nav ul li a:hover{
    color: #ccc;                 
}
.btn-login{
    background:#ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50px;
}
/*form index*/
form {
    
    min-height: 80vh;
    display:flex;
    justify-content:center;
    align-items: center;
}
form div{
    background-color: #737270;
    border-radius: 15px;
    align-items: center;
    padding: 30px 50px;
   
}
form div h3{
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.form-group{
    display: flex;
    flex-direction: column;   
}
input{
    margin: -20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px   
}
.btn-submit{
    background:#000000;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 15px;
}
.btn-submit:hover{
    color: rgb(181, 179, 179);
    transition: .3s ease;
}
/*reportsubmited*/
p{
    padding-bottom:20px ;
    padding-top: 20px;
    color: white;
}
.tracklink{
    padding-bottom:20px ;
    padding-top: 5px;
    color: rgb(255, 255, 255);
}
.tracklink:hover{
    color: rgb(181, 179, 179);
    transition: .3s ease;
}

/*tracking*/
.formhead{
    color: #000;
    display:flex;
    padding-top: 50px;
    justify-content: center;
}
.formlink{
    color: #000;
    display:flex;
    justify-content: center;
}
.formlink:hover{
    color: rgb(181, 179, 179);
    transition: .3s ease;
}

/*satifaction form*/
.btn-headback{
    text-decoration: none;
    color: white;
}

/*mobile*/
@media screen and (max-width: 900px) {
    .container{
        width: 100%;
    }
    nav{
        height: auto;
        display: flex;
        flex-direction: column;
    }   
    .btn-menubar{
        display: block;
        position:fixed;
        top:10px;
        left: 10px;
        z-index: 10;
    }
    nav h2{
        margin:20px 0;
    }
    nav ul{
        width: 100%;
        background:#fff;
        display: none;
        flex-direction: column;
        transition: .3s ease;

    }
    nav ul li a{
        color:black;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #e5e5e5; 
    }
    .btn-login{
        background: none;
        color:#333;
        border-bottom: 1px solid #e5e5e5;
    }
    .nav-active{
        display: flex;
    }
}


 